<a href="https://colab.research.google.com/github/Rajat504/CLOUDYML/blob/main/Control_Statements3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ADDITION OF TWO NUMBERS:

We can add two vectors together using the + operator.

One thing to keep in mind while adding (or other arithmetic operations) two vectors together is the recycling rule.

If the two vectors are of equal length then there is no issue. But if the lengths are different, the shorter one is recycled (repeated) until its length is equal to that of the longer one.

This recycling process will give a warning if the longer vector is not an integral multiple of the shorter one.

In [2]:
x=c(3, 6, 8)
y=c(2,9,0)
# sum of x and y
x+y
#sum of x + 1    # 1 is recycled to (1,1,1)
x+1
#sum of x and c(1,4)   #(1,4) is recycled to (1,4,1) but warning issued
x+c(1,4)

[1]  5 15  8

[1] 4 7 9

Warning message in x + c(1, 4):
“longer object length is not a multiple of shorter object length”

[1]  4 10  9

As we can see above the two vectors x and y are of equal length so they can be added together without difficulty.

The expression x + 1 also works fine because the single 1 is recycled into a vector of three 1's.

Similarly, in the last example, a two element vector is recycled into a three element vector. But a warning is issued in this case as 3 is not an integral multiple of 2.

# Find Sum, Mean and Product of Vector in R Programming

In [3]:
# sum of (2,7,5)
sum(2,7,5)
x=c(2, NA , 3 , 1,  4)
    # if any element is NA or NaN, result is NA or NaN
sum(x)
sum(x, na.rm=TRUE)    # this way we can ignore NA and NaN values
#mean of x
x=c(2, NA , 3 , 1,  4)
mean (x, na.rm=TRUE)
# product of x
x=c(2, NA , 3 , 1,  4)
prod(x, na.rm=TRUE)

[1] 14

[1] NA

[1] 10

[1] 2.5

[1] 24

Whenever a vector contains NA (Not Available) or NaN (Not a Number), functions such as sum(), mean(), prod() etc. produce NA or NaN respectively.

In order to ignore such values, we pass in the argument na.rm = TRUE.

# R Program to Find the Factorial of a Number

In [4]:
# take input from the user
num = as.integer(readline(prompt="Enter a number: "))
factorial = 1
# check, is the number is negative, positive or zero
if(num < 0) {
  print('Sorry, factorial does not exist for negative numbers.')
} else if(num == 0) {
  print('The factorial is 1.')
} else {
  for(i in 1:num) {
    factorial = factorial * i
  }
print(paste("The factorial of", num ,"is",factorial))
}

Enter a number: 4
[1] "The factorial of 4 is 24"

Here, we take input from the user and check if the number is negative, zero or positive using if...else statement.

If the number is positive, we use for loop to calculate the factorial.

We can also use the built-in function factorial() for this.

In [ ]:
factorial(4)

[1] 24

# Check Prime Number

In [5]:
# Program to check if the input number is prime or not
# take input from the user
num = as.integer(readline(prompt="Enter a number: "))
flag = 0
# prime numbers are greater than 1
if(num>1){
  flag=1
  for(i in 2:(num-1)){
    if((num%%i)==0){
      flag=0
      break
    }
  }
}
if(num==2)flag=1
if(flag==1){
  print(paste(num,"is prime"))
}else{
  print(paste(num,"is not prime"))
}
# check for factors

Enter a number: 7
[1] "7 is prime"

#  Check Leap Year

In [1]:
 # Program to check if the input year is a leap year or not
year = as.integer(readline(prompt="Enter a year: "))
if((year%%4)==0){
  if((year%%100)==0){
    if((year%%400)==0){
      print(paste(year,"leap year"))
    }else{
       print(paste(year,"is not a leap year"))
}
  }else{
    print(paste(year,"leap year"))
  }
}else{
   print(paste(year," is not a leap year"))
}

Enter a year: 1996
[1] "1996 leap year"

# Check if a Number is Odd or Even

In [7]:
# Program to check if the input number is odd or even.
# A number is even if division by 2 give a remainder of 0.
# If remainder is 1, it is odd.
num = as.integer(readline(prompt="Enter a number: "))
# Check if the number is odd or even
if (num %% 2 == 0) {
  print(paste(num, "is an even number."))
} else {
  print(paste(num, "is an odd number."))
}

Enter a number: 35
[1] "35 is an odd number."

# Check Positive, Negative or Zero

In [9]:
# In this program, we input a number check if the number is positive or negative or zero
num = as.double(readline(prompt="Enter a number: "))
if(num > 0) {
  print(paste(num, "is a positive number."))
} else if (num < 0) {
  print(paste(num, "is a negative number."))
} else {
  print("The number is zero.")
}

Enter a number: 0
[1] "The number is zero."