<a href="https://colab.research.google.com/github/Rajat504/CLOUDYML/blob/main/Fundamentals_of_R1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R PROGRAMMING

### What is R used for?

We use R for Data Science. It gives us a broad variety of libraries related to statistics

# HELLO WORLD

In R there are various methods to print the output. Most common method to print output in R program, there is a function called print() is used. Also if the program of R is written over the console line by line then the output is printed normally, no need to use any function for print that output. To do this just select the output variable and press run button. Example:

For the HelloWorld program, we just need a print function. No need of any packages or main functions, just a simple print function is enough.

In [ ]:
# print Hello World
print("hello world")

[1] "hello world"

print() is a function which is used to print the values on to the output screen. It also has arguments, we can use it if needed. For example, in the above program, the output is printed with quotes by default we can remove it if needed.

In [ ]:
# print Hello World without quotes.
print("hello world",quote = FALSE)

[1] hello world

Print output using paste() function inside print() function
R provides a method paste() to print output with string and variable together. This method defined inside the print() function. paste() converts its arguments to character strings.

In [ ]:
# If there are more than 1 item, we can concatenate using paste()
# print how are you using paste.
print(paste("how","Are","You","?"))

[1] "how Are You ?"

# ASSIGNMENT OPERATOR:
R supports three ways of variable assignment:

1.Using equal operator- data is copied from right to left.

2.Using leftward operator- data is copied from right to left.

3.Using rightward operator- data is copied from left to right.

In [ ]:
# R program to illustrate
# Initialization of variables
#<-
#->
#=


# using equal to operator
# print CLOUDYML
 x="CLOUDYML"
 x


# using leftward operator
# print AKASH
y<-"AKASH"
y


# using rightward operator
# print CloudyML
"CloudyML"->z
z

[1] "CLOUDYML"

[1] "AKASH"

[1] "CloudyML"

In [ ]:
# Assigning values to variables
#assign 9 to a, and 4 to b
a<-9
b<-4
print(a)
print(b)

[1] 9
[1] 4

# Taking Input from User
In R language readline() method takes input in string format.

In [ ]:
# take name from the user and then print.
x=readline("Enter your Name:")
print(x)

Enter your Name:rajat
[1] "rajat"

By default the datatype in readline is Character, To convert the inputted value to the desired data type, there are some functions in R,


1.as.integer(n); —> convert to integer

2.as.numeric(n); —> convert to numeric type (float, double etc)

3.as.complex(n); —> convert to complex number (i.e 3+2i)

4.as.Date(n) —> convert to date …, etc

In [ ]:
my.name <-readline("Enter Your Name:")
my.age <-as.integer(readline("Enter your Age:"))
# convert character into integer
print(paste("Hi,", my.name, "next year you will be", my.age+1, "years old."))

Enter Your Name:rajat
Enter your Age:24
[1] "Hi, rajat next year you will be 25 years old."

# OPERATORS:
Operators are the symbols directing the compiler to perform various kinds of operations between the operands. Operators simulate the various mathematical, logical, and decision operations performed on a set of Complex Numbers, Integers, and Numericals as input operands

---

# ARITHMETIC OPERATOR
Arithmetic operations simulate various math operations, like addition, subtraction, multiplication, division, and modulo using the specified operator between operands, which may be either scalar values, complex numbers, or vectors. The operations are performed element-wise at the corresponding positions of the vectors.

In [ ]:
# SUM
# sum of 2 and 20
a=2
b=20
print(a+b)

[1] 22

In [ ]:
# SUBSTRACTION
#difference between 20 and 2
a=20
b=2
print(a-b)

[1] 18

In [ ]:
#MULTIPLICATION
# multiplication between 20 and 2.
a=20
b=2
print(a*b)

[1] 40

In [ ]:
# DIVISON
# divide 20 by 2
a=-20
b=2
print(a/b)

[1] -10

In [ ]:
# MODULO OPERATOR: The remainder of the first operand divided by the second operand is returned.
# 20 by2
a=20
b=2
print(a%%b)

[1] 0

In [ ]:

# R program to illustrate
# the use of Arithmetic operators
a <- 333
b <-43
# Performing operations on Operands
cat ("Addition of a and b :",376)
cat ("Subtraction of a and b :",290 )
cat ("Multiplication of a and b :",14319 )
cat ("Division of a and b :", 7.44)
cat ("Modulo of a and b :",32 )
cat ("Power a and b :",29181125)

Addition of a and b : 376Subtraction of a and b : 290Multiplication of a and b : 14319Division of a and b : 7.44Modulo of a and b : 32Power a and b : 29181125

# Logical Operators

Logical operations simulate element-wise decision operations, based on the specified operator between the operands, which are then evaluated to either a True or False boolean value. Any non-zero integer value is considered as a TRUE value, be it a complex or real number.

In [ ]:
 # R program to illustrate
# the use of Logical operators
a <- 3
b <-0
print(a & b)
print(a|b)

[1] FALSE
[1] TRUE

In [ ]:
# AND OPERATOR
a<-0
b<-3

# print a and b
print(a&b)

[1] FALSE

In [ ]:
# OR OPERATOR
a<-0
b<-3

# print a or b
print(a|b)

[1] TRUE

# Relational Operators
The relational operators carry out comparison operations between the corresponding elements of the operands. Returns a boolean TRUE value if the first operand satisfies the relation compared to the second. A TRUE value is always considered to be greater than the FALSE.

In [ ]:
a <- 2989
b <-6987
print(a<b)
print(a>b)
print(a==b)

[1] TRUE
[1] FALSE
[1] FALSE

In [ ]:

# R program to illustrate
# the use of Relational operators
a<-3244566
b<-908080
# use different relational operator to display this output.
print(a<b)
print(a>b)
print(a==b)

[1] FALSE
[1] TRUE
[1] FALSE

# DATATYPE:
Each variable in R has an associated data type. Each data type requires different amounts of memory and has some specific operations which can be performed over it. R Programming language has the following basic data types:

Basic Data Types
1.Numeric:Set of all real numbers

2.Integer: Set of all integers, Z

3.Logical: TRUE and FALSE

4.Complex: Set of complex numbers

5.Character: “a”, “b”, “c”, …, “@”, “#”, “$”, …., “1”, “2”, …etc

### Numeric Datatype
Decimal values are called numerics in R. It is the default data type for numbers in R. If you assign a decimal value to a variable x as follows, x will be of numeric type.

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign a decimal value to x
x=5.5

# print the class name of variable
print(class(x))

# print the type of variable
print(typeof(y))

[1] "numeric"
[1] "character"

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign an integer value to y
y=6

# print the class name of variable
print(class(y))

# print the type of variable
print(typeof(y))

[1] "numeric"
[1] "double"

When R stores a number in a variable, it converts the number into a “double” value or a decimal type with at least two decimal places. This means that a value such as “7” here, is stored as 7.00 with a type of double and a class of numeric. And also y is not an integer here can be confirmed with the is.integer() function.

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign a integer value to y
y=6

# is y an integer?
print(is.integer(y))

[1] FALSE

### Integer Datatype
R supports integer data types which are the set of all integers. You can create as well as convert a value into an integer type using the as.integer() function. You can also use the capital ‘L’ notation as a suffix to denote that a particular value is of the integer data type.

In [ ]:

# A simple R program
# to illustrate integer data type

# Create an integer value
x=as.integer(6)

# print the class name of x
print(class(x))

# print the type of x
print(typeof(x))

# Declare an integer by appending an L suffix.
y=6L

# print the class name of y
print(class(y))

# print the type of y
print(typeof(y))

[1] "integer"
[1] "integer"
[1] "integer"
[1] "integer"

### Logical Datatype
R has logical data types that take either a value of true or false. A logical value is often created via a comparison between variables.

In [ ]:
# A simple R program
# to illustrate logical data type

# Sample values
x=6
y=7

# Comparing two values
z=x>y

# print the logical value
print(z)

# print the class name of z
print(class(z))

# print the type of z
print(typeof(z))

[1] FALSE
[1] "logical"
[1] "logical"

### Complex Datatype
R supports complex data types that are set of all the complex numbers. The complex data type is to store numbers with an imaginary component.

In [ ]:
# A simple R program
# to illustrate complex data type

# Assign a complex value to x
x=6+6i

# print the class name of x
print(class(x))

# print the type of x
print(typeof(x))

[1] "complex"
[1] "complex"

### Character Datatype
R supports character data types where you have all the alphabets and special characters. It stores character values or strings. Strings in R can contain alphabets, numbers, and symbols. The easiest way to denote that a value is of character type in R is to wrap the value inside single or double inverted commas.

In [ ]:
# A simple R program
# to illustrate character data type

# Assign a character value to char
x='cloudyml'

# print the class name of char
print(class(x))

# print the type of char
print(typeof(x))

[1] "character"
[1] "character"

# ***Type verification***
To do that, you need to use the prefix “is.” before the data type as a command. The syntax for that is, is.data_type() of the object you have to verify.