<a href="https://colab.research.google.com/github/Rajat504/CLOUDYML/blob/main/Matrix_%26_Dataframe5_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MATRIX:

Matrix is a rectangular arrangement of numbers in rows and columns. In a matrix, as we know rows are the ones that run horizontally and columns are the ones that run vertically. In R programming, matrices are two-dimensional, homogeneous data structures.

In [1]:

# R program to create a matrix
  m1=matrix(1:12,nrow=3,ncol=4)
  m1


  # Taking sequence of elements


  # No of rows


  # No of columns

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [2]:
  # By default matrices are in column-wise order
  # So this parameter decides how to arrange the matrix

In [3]:
# if the dimension is less than total elements then first nxm elements
m1=matrix(1:12,nrow=3,ncol=3)
m1

Warning message in matrix(1:12, nrow = 3, ncol = 3):
“data length differs from size of matrix: [12 != 3 x 3]”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [4]:
#  Recycling of the matrix
m1=matrix(1:12,nrow=4,ncol=5)
m1

Warning message in matrix(1:12, nrow = 4, ncol = 5):
“data length [12] is not a sub-multiple or multiple of the number of columns [5]”

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   1    5
[2,] 2    6    10   2    6
[3,] 3    7    11   3    7
[4,] 4    8    12   4    8

#Length-returns total no of rows and colums(m*n)

In [6]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)),
              nrow = 5, ncol = 3)

mat

# find the length of the matrix

length(mat)

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

[1] 15

#Accessing elements of a Matrix
We can access elements in the matrices using the same convention that is followed in data frames. So, you will have a matrix and followed by a square bracket with a comma in between array. Value before the comma is used to access rows and value that is after the comma is used to access columns. Let’s illustrate this by taking a simple R code.

###  accessing the rows:

In [9]:
# access rows in metrics, read 2nd row
mat[2,]

# access the first 2 rows
mat[1:2,]

#access the last 3 rows
mat[3:5,]

# acess the 1st and 3rd colum
mat[c(1,5),]

[1] 10 14 14

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14

     [,1] [,2] [,3]
[1,] 14   12   15
[2,] 14   14   16
[3,] 11   13   13

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 11   13   13

### Accessing columns:

In [10]:
# access columns in metrics,read 2nd column
mat[,2]

[1] 12 14 12 14 13

In [11]:
# access the last colum
mat[,3]

[1] 16 14 15 16 13

In [12]:
# access 1st and 3rd column
mat[,c(1,3)]

     [,1] [,2]
[1,] 12   16
[2,] 10   14
[3,] 14   15
[4,] 14   16
[5,] 11   13

In [14]:
# access 1st and 3rd column for even no of rows
mat[seq(2,5,2),c(1,3)]

     [,1] [,2]
[1,] 10   14
[2,] 14   16

### Accessing elements of a matrix:

In [13]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)),
              nrow = 5, ncol = 3)

mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

In [15]:
# access 10
mat[2,1]

# access 11
mat[5,1]

[1] 10

[1] 11

# INSERT/Update:
 insertion is possible if that position doesnot exist

updation is possible if that position exists

In [16]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)),
              nrow = 5, ncol = 3)

mat

# inserting 999 instead of 14
mat[2,2]=999
mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

     [,1] [,2] [,3]
[1,] 12    12  16
[2,] 10   999  14
[3,] 14    12  15
[4,] 14    14  16
[5,] 11    13  13

In [17]:
# insert 9.99 in place of 13
mat[5,3]=9.99
mat

     [,1] [,2] [,3]
[1,] 12    12  16.00
[2,] 10   999  14.00
[3,] 14    12  15.00
[4,] 14    14  16.00
[5,] 11    13   9.99

#Deleting rows and columns of a Matrix


To delete a row or a column, first of all, you need to access that row or column and then insert a negative sign before that row or column. It indicates that you had to delete that row or column.

In [18]:
#2nd-row deletion
mat1=mat[-2,]
mat1

     [,1] [,2] [,3]
[1,] 12   12   16.00
[2,] 14   12   15.00
[3,] 14   14   16.00
[4,] 11   13    9.99

In [23]:
#2nd column deletion
mat2=mat[,-2]
mat2

     [,1] [,2]
[1,] 12   16.00
[2,] 10   14.00
[3,] 14   15.00
[4,] 14   16.00
[5,] 11    9.99

# NAMING MATRIX:

In [24]:
# dimnames
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)),
              nrow = 5, ncol = 3,dimnames=list(1:5,c("P1","P2","P3")))
mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3, :
“data length differs from size of matrix: [30 != 5 x 3]”

  P1 P2 P3
1 12 12 16
2 10 14 14
3 14 12 15
4 14 14 16
5 11 13 13

In [25]:
# colnames
colnames(mat)                # column name of mat

[1] "P1" "P2" "P3"

In [26]:
#rownames
rownames(mat)                  # row names of mat

[1] "1" "2" "3" "4" "5"

In [27]:
#read entire dataset except rows 1 and 5
mat[-c(1,5),]

  P1 P2 P3
2 10 14 14
3 14 12 15
4 14 14 16